In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
#SERIES
    #A Panda series is a one-dimensional, labeled array capable of holding any data type
    #This means the data is linear and has an index that acts as a key in  a dictionary
    # A one-dimensional array is a list of objects

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [9]:
# To create a Pandas Series we use the pandas.Series()
# Add the Pandas dependency.
import pandas as pd

#Its a best practice to shorten the dependency name or give it an alias
    #THis make sit easier to use the dependency in any preceding code that you write

In [10]:
# Creating a Pandas Series for the list of high schools
# Create a Pandas Series from a list 
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [11]:
# PANDAS DATAFRAMES
    # A Pandas DataFrame is a 2-dimensional labeled data structure where data is aligned in a table
    # Creating a dictionary is exemplified below
    
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

# A python dictionary has a key and a value, or key-value pairs

In [12]:
# Converting the array or list of dictionaries to a DataFrame

school_df = pd.DataFrame(high_school_dicts)
school_df

# The df in school_df is short for "DataFrame"
# It's a best practice to add this df to a named DataFrame to help distinguish between DataFrames, Series and Variables

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
# Convert a List or series to a DataFrame

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [17]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [46]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
# Print the DataFrame.
schools_df 

# The standard format for creating a key in a dictionary is to put the key in single or double quotes and inside brackets

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [47]:
#Another way to create a DataFrame is to create a Python dictionary from the 3 lists

# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [ ]:
#Converting the dictionary high_schools_dict to a DataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

In [48]:
# The Anatomy of a DataFrame
    # Columns: The top, or header, rows
    # Index: The numbers that run down the left-hand margin
    # Values: The values in the columns (the data)

# How to apply the columns attribute to the school_df DataFrame:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [49]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [50]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)